#resumen-carro{
    padding-top: 32px;
}

.contenedor-resumen {
    min-width: 40rem !important;
    background-image: url(/assets/svg/wave\ \(3\).svg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: ;
}

#iconos-res-carro {
    display: flex;
    gap:0.7vw;
}

.contador-resu {
    line-height: 1.5px !important;
    text-align: center;
}

#cont-resu-carro {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

#resumen-carro li {
    display: grid;
    grid-template-columns: 3fr 0.5fr 1fr 0.2fr;
    width: 45w;
    gap: 1.8vw;
    padding-right: 1vw;
    border: 0.2px solid rgba(128, 128, 128, 0.384);
    margin: 6px;
    align-items: center;
    align-content: center;
    margin-right: 40px;   
}

.precio-li {
    width: 5vw;
    text-align: left;
}

#resumen-carro li p {
    margin:0;
    padding: 10px;
}

.icono-eliminar:hover , .fa-square-minus:hover , .fa-square-plus:hover{
    cursor: pointer;
}

#botonera-inf-resu {
    display: flex;
    justify-content: center;
    gap: 4vw;
    align-items: center;
    padding-bottom: 10px;
}

.btn-outline-warning {
   color: #fd7e14 !important;
   border-color: #fd7e14 !important;
}

.btn-outline-warning:hover {
    color: black !important;
    border-color: black !important;
}

@media only screen and (max-width: 755px) {
    #resumen-carro{
        padding-top: 32px;
        font-size: 3vw;
    }
    
    .contenedor-resumen {
        min-width: 20rem !important;
    }

    #resumen-carro li {
        grid-template-columns: 1fr 0.5fr 0.5fr 0.2fr;
        font-size: medium;
    }

}

@media only screen and (max-width: 480px) {
    #resumen-carro li {
        font-size:smaller;
    } 

    #botonera-inf-resu .btn {
        font-size: 2.5vw;
    }

    #botonera-inf-resu h5, #monto-total {
        font-size: small;
    }

    #resumen-carro li p {
        padding: 5.5px;
    }

   
}


